<?xml version="1.0" encoding="utf-8"?>
<!-- Debug-only: lets the battle scene be launched straight from adb while
     iterating, without exposing it in release builds. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".BattleActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>

</manifest>
